<div class="container">
    <h1>Meetings</h1>
    @foreach (var meeting in Model.meetings)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@meeting.Title</h5>
                                <p class="card-text">@meeting.Description</p>
                                <p class="card-text">Toplantı Tarihi: @meeting.StartTime.ToString("dd/MM/yyyy")</p>
                                <p class="card-text">Toplantı Saati: @meeting.StartTimeHour</p> 
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-footer text-end" style="background-color: white">
                                <h5><span class="participantCount_@meeting.MeetingId">@meeting.UserMeetings.Count</span> katılımcı</h5>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button data-meeting-id="@meeting.MeetingId" type="button" class="btn btn-primary btnJoin">KATIL</button>
                                }
                                else
                                {
                                    <p>Katılmak için uygulamaya giriş yapmalısınız. <a href="/Account/Login">Login</a></p>
                                }
                            </div>
                        </div>
                        <div class="card-footer text-start">
                            <span>Toplantıyı düzenleyen kişi: </span>
                            <img src="/img/@meeting.User.Image" alt="" class="avatar rounded-circle float me-3">
                            <a href="/profile/@meeting.User.UserName">@meeting.User.FullName</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        
    $(document).ready(function() {
    // Buton metnini kontrol etmek için her toplantı için işlem yap
    $('.btnJoin').each(function() {
        var btnJoin = $(this);
        var meetingId = btnJoin.data('meeting-id');
        
        $.ajax({
            type: 'GET',
            url: '@Url.Action("CheckUserAttendance")',
            dataType: 'json',
            data: {
                meetingId: meetingId,
            },
            success: function(response) {
                // Kullanıcı toplantıya katılmışsa buton metnini "KATILMA" olarak ayarla
                if (response.attended) {
                    btnJoin.text("KATILMA");
                } else {
                    btnJoin.text("KATIL");
                }
            }
        });
    });

    // Katıl butonuna tıklandığında
    $(document).on('click', '.btnJoin', function(){
        var btnJoin = $(this);
        var meetingId = btnJoin.data('meeting-id');
        var participantCountElement = $(".participantCount_" + meetingId);
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("JoinMeeting")',
            dataType: 'json',
            data: {
                meetingId: meetingId,
            },
            success: function(response) {
                var count = parseInt(participantCountElement.text());
                if (response.joined) {
                    participantCountElement.text(count + 1);
                    btnJoin.text("KATILMA");
                } else {
                    participantCountElement.text(count - 1);
                    btnJoin.text("KATIL");
                }
            }
        });
    });
});

    </script>
}


