@model List<Meeting>

<div class="row">
    <div class="col-12">
        <h2>Meeting List</h2>
        <a href="/meetings/create" class="btn btn-primary">New Post</a>
      
        <table class="table tabled-bordered mt-3">
            <thead>
                <tr>
                    <th>Toplantı Sahibi</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Toplantı Tarihi</th>
                    <th>Toplantı Saati</th>
                    <th style="width: 125px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.User?.FullName</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.StartTime.ToString("dd/MM/yyyy")</td>
                        <td>@item.StartTimeHour</td>
                        <td>
                            <a href="/meetings/edit/@item.MeetingId" class="btn btn-sm btn-primary">Edit</a>
                            <form asp-action="Delete" method="post" onsubmit="return confirm('Emin misiniz?')" style="display: inline-block;">
                                <input type="hidden" value="@item.MeetingId" name="id">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
    
            </tbody>
        </table>
    </div>
</div>