@model EditViewModel

<h2>Create User</h2>
<hr>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input name="Id" type="hidden" value="@Model.Id"><!--Kullanıcı user id sini aldım -->
    
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="imageFile">Resim</label>
        <input type="file" name="imageFile" id="imageFile" class="form-control">
        
    </div>
    <div>
        <img src="~/img/@Model.Image" alt="" style="width: 100px;"><!--Resim güncellenmesi için gösterdim-->
        <input type="hidden" asp-for="@Model.Image"><!--Eğer yeni resim seçmediysek te eski hali kalsın diye,hidden demek kullanıcı bunu görmesini engelliyorum bu bilgiyi gizli alıyorum-->
    </div>
    <div class="card mb-3 mt-3">
        <div class="card-header">
            Parola Güncelle
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Roller
        </div>
        <div class="card-body">
            @foreach(var role in ViewBag.Roles){
                <div class="form-check">
                    <input type="checkbox" 
                    class="form-check-input" 
                    name="SelectedRoles" 
                    value="@role" 
                    id="@role"
                    
                    @if(Model.SelectedRoles != null)
                    {

                        @(Model.SelectedRoles.Any(i => i == role) ? "checked": "")
                        
                    }>
                    <!--ben burda dedim ki eğer bir ceheck seçildiyse çalış, boş olma durumunu kapattım-->

                        <label for="@role" class="form-check-label">@role</label>
                        <!--id ile for aynı olmalı =>role
                            name="SelectedRoles" editviewmodel de ki değeri verdim value="@role" bu şekilde seçilen rolleri dizi olarak namelerini alacak bunları ayarlayıp yapmak istediğim usera ben eğer rol atarsam bunları usera eklesin diye
                            @(Model.SelectedRoles.Any(i => i == role) ? "checked": "") ben burdaki kodda diyorum ki veritabında bak eğer seçilmiş rol varsa onun ceheckboxını doldur seçilmemişse boş getir
                        -->
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
