@model IEnumerable<AppUser>

<a class="btn btn-primary" asp-controller="Account" asp-action="Create">Create User</a><!--asp-controller="Account" böyle yapmamın nedeni ben bu kısmı userda accounta taşıdım-->
<table class="table table-sm table-bordered mt-3">
    <thead>
        <tr>
            <th style="width: 200px;">Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th style="width: 125px;"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0){
            <tr><td colspan="4" class="text-center">User Yok</td></tr>
        }
        @foreach(var user in Model){
            <tr>
                <td>
                    <img src="/img/@user.Image" class="img-fluid" alt=""> <!-- Resim ekleme -->
                </td>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Emin misiniz?')" style="display: inline-block;"><!--onsubmit="return confirm('Emin misiniz?')" js ile bunu sorup sonra silmeyi gerçekleştiriyorum bunun diğer yolu postun yanında get metodu daha ekleyip sil butonuna basınca başka ekrana gidip orda emin misin diye sordurup sonra silmek ama buda diğer yol-->
                        <input type="hidden" value="@user.Id" name="id"><!--kullanıcın idsini alıp o kullanıcıyı silmek için-->
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>          
        }
    </tbody>
</table>
    
    